{% extends 'base.html' %}

{% block css %}
<link href="/static/Problem/css/base.css" rel="stylesheet">
<link href="/static/Problem/css/about.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/Problem/css/style.css">
<link rel="stylesheet" href="/static/Problem/css/comment.css">
{% endblock %}
{% block content %}
<body>

<article class="aboutcon">
<div class="about left">
  <h2>问题描述</h2>
    <ul>
     <p>{{ Problem_obj.content }}</p>
<p>
    </ul>

     <div class="commentAll">
    <!--评论区域 begin-->
    <form action="/Problem/comment_sub/" name="problem_comment" method="post" onsubmit="return beforeSubmit()">
    <div class="reviewArea clearfix">
        <textarea class="content comment-input"  name='comment' placeholder="Please enter a comment&hellip;" onkeyup="keyUP(this)" ></textarea>
        <input type="hidden" name="flag_id" value="{{ Problem_obj.id }}">
        <input class="plBtn" type="submit" value="评论">
    </div>
    </form>
    <!--评论区域 end-->
    <!--回复区域 begin-->
    <div class="comment-show">
        {% for comment in comment_list  %}
        <div class="comment-show-con clearfix">
            <div class="comment-show-con-list pull-left clearfix">
                <div class="pl-text clearfix">
                    <a href="#" class="comment-size-name">{{comment.author}} : </a>
                    <span class="my-pl-con">&nbsp;{{comment.comment}}</span>
                </div>
                <div class="date-dz">
                    <span class="date-dz-left pull-left comment-time">{{comment.created_at}}</span>
                </div>
                <div class="hf-list-con"></div>
            </div>
        </div>
        {% endfor %}


    </div>
    <!--回复区域 end-->
</div>
</div>

<aside class="right">
    <div class="about_c">
        <P>发布者:</P>
    <p>学号：{{author_obj1.username}}</p>
        <p>用户名：{{author_obj.number}}</p>
        <p>系别：{{author_obj.dept}}</p>
        <p>班级：{{author_obj.classs}}</p>
</div>
</aside>
</article>

<script src="/static/Problem/js/silder.js"></script>
<script>
     function beforeSubmit() {
        if(document.problem_comment.comment.value==''){
                alert('评论不能为空！');
                return false;
            }
    }
</script>
</body>
{% endblock %}