{%  extends 'base.html' %}

    {% block css %}
         <link rel="stylesheet" href="../static/homepage/css/bootstrap.css">
        <link rel="stylesheet" href="../static/homepage/css/font-awesome.css">
        <link rel="stylesheet" href="../static/homepage/css/templatemo_style.css">
        <link rel="stylesheet" href="../static/homepage/css/templatemo_misc.css">
        <link rel="stylesheet" href="../static/homepage/css/flexslider.css">
        <link rel="stylesheet" href="../static/homepage/css/testimonails-slider.css">
    {% endblock %}
    {% block js %}
         <script src="../static/homepage/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    {% endblock %}

 {% block content %}

            <div id="slider">
                <div class="flexslider">
                  <ul class="slides">
                    <li>
                        <div class="slider-caption">
                            <meta charset="UTF-8">
                            <h1>校园</h1>
                            <p>大连东软信息学院（Dalian Neusoft University of Information）是经国家教育部批准设立的一所民办普通高等院校。
                                <br><br>学校坐落于美丽的海滨城市大连，地处大连软件园核心区域，CDIO工程教育联盟成员单位。</p>

                        </div>
                      <img src="../static/homepage/images/slide1.jpg" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>校园</h1>
                            <p>根据2017年1月学校信息显示，学校有各类大学生社团组织90余个，每年组织“东软之声主持人大赛“、“格致杯”演讲比赛、采薇文学社征文大赛、大学生科技文化艺术节、暑期社会实践等校园活动，
                                <br><br>为广大学生提供了丰富多彩的展示和锻炼才能的舞台，成为发展学生特长和优势、增强学生各方面综合素质的摇篮。 </p>

                        </div>
                      <img src="../static/homepage/images/slide2.jpg" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>校园</h1>
                            <p>截至2016年9月，大连东软信息学院图书馆纸质图书总量125.6万册，生均图书83.2册；电子图书（含学位论文）100.8万种（册），生均66.7种（册）。
                                <br><br>中外文纸质期刊1172种，电子期刊12600种；精品课程、名师讲座视频60余门，数据库14个,自建数据库6TB。</p>

                        </div>
                      <img src="../static/homepage/images/slide3.jpg" alt="" />
                    </li>
                  </ul>
                </div>
            </div>



            <div id="latest-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>校园介绍</h2>
                                <img src="../static/homepage/images/under-heading1.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="../static/homepage/images/xyh.png" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4>校运会</h4>
                                        <span>东软3期操场</span>
                                    </div>
                                    <div class="content-hide">
                                        <p>彩旗飘扬、锣鼓喧天，大连东软信息学院校园上热情洋溢。5月28，大连东软信息学院第十届运动会隆重举行，全体校领导与师生共同相聚在三期体育场，共享体育盛会。大会由校长办公室主任王维坤主持.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="../static/homepage/images/hct.png" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4>火车头</h4>
                                        <span>A4</span>
                                    </div>
                                    <div class="content-hide">
                                        <p>火车头是东软的象征，是空旷平原的一道亮丽的风景线.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="../static/homepage/images/suxue.png" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4>高数公式</h4>
                                        <span>A5楼梯间</span>
                                    </div>
                                    <div class="content-hide">
                                        <p> 老师为了学生们煞费苦心，看着是一个个数学公式，其实是老师们对学生的期望与付出.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="../static/homepage/images/A5.png" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4>图书馆</h4>
                                        <span>A5</span>
                                    </div>
                                    <div class="content-hide">
                                        <p>再一世，你成为东北大学东软信息学院。当年的青葱萌芽，逐渐长成大树，火车头无畏前行的姿态，伴着无数学子求知的脚步。作育英才，桃李不休，春风化雨，朝气蓬勃。你默默积淀起超越自己的力量，誓要让一代代东软人绽放更多的荣光。.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="../static/homepage/images/yg.png" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4>一缕美丽的阳光</h4>
                                        <span>A3</span>
                                    </div>
                                    <div class="content-hide">
                                        <p>这一世，你的初心坚守、一往无前换来了美名传扬，大家都亲切地呼唤你“大连东软信息学院”。欧式古堡之间枝繁叶盛绿荫满地，钟声激荡之中书声琅琅笑语欢歌 ，你悉心培育着五湖四海的莘莘学子，用心探索着更新更远的教育之路。你眺望 “日出东方，其道大光”，期盼我们激情飞扬，逐梦远航！.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="../static/homepage/images/xx.png" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4>东软的雪</h4>
                                        <span>A6</span>
                                    </div>
                                    <div class="content-hide">
                                        <p>你细细的品会发现下的不是雪而是回家的开始。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>便捷链接</h2>
                                <img src="../static/homepage/images/under-heading1.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <h4>东软校内网站</h4>
                                <p>集合了大连东软信息学院校内大部分学生应用网址，在校外可使用VPN进行访问，只需输入自己的上网账号就可以轻松查询所需的校园服务功能.</p>
                                <a href="http://webvpn.neusoft.edu.cn/">前往东软校内网站</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <h4>CSDN-专业IT技术社区</h4>
                                <p>中国专业IT社区CSDN (Chinese Software Developer Network) 创立于1999年，致力于为中国软件开发者提供知识传播、在线学习、职业发展等全生命周期服务。</p>
                                <a href="https://www.csdn.net">前往CSDN</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <h4>知乎问答社区</h4>
                                <p>知乎更像一个论坛：用户围绕着某一感兴趣的话题进行相关的讨论，同时可以关注兴趣一致的人。对于概念性的解释，网络百科几乎涵盖了你所有的疑问；但是对于发散思维的整合，却是知乎的一大特色。</p>
                                <a href="https://www.zhihu.com">前往知乎</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <h4>中国知网</h4>
                                <p>知网，是国家知识基础设施的概念，由世界银行于1998年提出。CNKI工程是以实现全社会知识资源传播共享与增值利用为目标的信息化建设项目。由清华大学、清华同方发起，始建于1999年6月。</p>
                                <a href="https://www.cnki.net">前往知网</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="testimonails">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="testimonails-slider">
                              <ul class="slides">
                                <li>
                                    <div class="testimonails-content">
                                        <p>制作人员：汪宇</p>
                                        <h6><a href="#">联系QQ：2350199078</a></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonails-content">
                                        <p>制作人员：霍英豪</p>
                                        <h6><a href="#">联系QQ：962917302</a></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonails-content">
                                        <p>制作人员：相瑞娟</p>
                                        <h6><a href="#">联系QQ：727884380</a></h6>
                                    </div>
                                </li>
                                  <li>
                                    <div class="testimonails-content">
                                        <p>制作人员：盘文龙</p>
                                        <h6><a href="#">联系QQ：*********</a></h6>
                                    </div>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    
        <script src="../static/homepage/js/vendor/jquery-1.11.0.min.js"></script>
        <script src="../static/homepage/js/vendor/jquery.gmap3.min.js"></script>
        <script src="../static/homepage/js/plugins.js"></script>
        <script src="../static/homepage/js/main.js"></script>
 {% endblock  %}

