{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="/static/Login/bootstrap.min.css">
    <style>
        span.red{
            color: red;
        }
    </style>
</head>
<body>
    <div class="login-page">
        <span class="form">
            <h1>
                <span>登录页面</span>
             <a href="/admin"><button type="button" >管理员登录</button></a>
            </h1>
            <form action="" method="post" name="login_form" onsubmit="return beforeSubmit()">
                <p>学号:<input type="text" class="form-control" name="number" ></p>
                <p>密码:<input type="password" class="form-control" name="password"></p>
        <a href="#" class="captcha">
            <img src="{{ captcha.image_url }}" alt="点击切换" id="id_captcha" >
        </a>
        <p>验证码:<input type="text" name="captcha" class="form-control"></p>
        <p><input value="{{ captcha.hashkey }}" name="hashkey" type="hidden" id="id_captcha_0"></p>
        <!--<button type="submit" class="btn btn-primary btn-block ">提交</button>-->
                <span class="red">
                    <p>{{ type1 }}{{ type2 }}</p>
                </span>
                <button type="submit" class="login_button" id="login_check">登录</button>
                <a href="/User/register"><button type="button" class="register_button">注册</button></a>
            </form>
        </span>
    </div>
<script>
        <!-- 动态刷新验证码js -->
        $(document).ready(function(){
            $('.captcha').click(function () {
                $.getJSON("refresh_captcha/", function (result) {
                    $('#id_captcha').attr('src', result['image_url']);
                    $('#id_captcha_0').val(result['hashkey'])
                });
            });
        });
        <!--检查输入-->
        function beforeSubmit(){
            if(document.login_form.number.value==''){
                alert('用户名不能为空！');
                return false;
            }
            if(document.login_form.password.value==''){
                alert('密码不能为空！');
                return false;
            }
                return true;
        }
</script>
</body>
</html>



